h2 {
    font-size: 36px;
    color: white;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
    
}
h1 {
    background-color: white;
    border-radius: 40px;
}
.img{
    border-color: red;
    border-style: solid;
}
.cvb{
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 10px
}

.zxc{
    border-color: blue;
    border-style: solid;
}

.imn{
    border-color: red;
    border-style: solid;
    text-align: center;
}

.qwe{
    font-size: 36px;
    color: white;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    border-radius: 30px;
}
.asd{
    text-align: center;
}

footer{
    background-color: rgb(0, 0, 0);
}

.jkl{
    color: white;
    text-align: center;
}
